html, body {
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: green;
}

.playButton,
.statsButton {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.islandInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 320px;
}

.waitingContainer {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
}

.waitingContainer input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.islandButton {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.controllersContainer {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}